.header {
	position: relative;
	background-image: url('./../img/header-bg.jpg');
	background-size: cover;
	aspect-ratio: 1440 / 1084;
	color: $header-text-color;
	@include retina-bg(url('./../img/header-bg@2x.jpg'));
	padding-top: 40px;

	a {
		color: $header-text-color;
	}
}
.header__nav {
	margin-bottom: clamp(20px, 0.893rem + 1.79vw, 40px);
}

.header__content {
	text-align: center;
	p {
		max-width: 606px;
		margin: 0 auto;
		font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
		line-height: 160%;
		opacity: 0.8;
	}
}
.header__search {
	margin: 0 auto;
	margin-top: 45px;
}
.header__title {
	font-weight: 700;
	// font-size: 80px;
	font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
	text-wrap: balance;
	line-height: 130%;
	letter-spacing: -0.8px;
	text-transform: capitalize;
	margin-bottom: 14px;
}
.header__dot {
	position: absolute;
	@include mobile-xl() {
		display: none;
	}
}
.header__dot-sofa {
	position: absolute;
	left: calc(285 * 100% / 1440);
	top: calc(678 * 100% / 1084);
}

.header__dot-vase {
	position: absolute;
	left: calc(100 * 100% / 1440);
	top: calc(745 * 100% / 1084);
}

.header__dot-item {
	position: absolute;
	left: calc(798 * 100% / 1440);
	top: calc(773 * 100% / 1084);
}

.header__dot-wall {
	position: absolute;
	right: calc(35 * 100% / 1440);
	top: calc(810 * 100% / 1084);
}
