.mobile-nav-wrapper {
	display: none;
	position: absolute;
	z-index: 9;
	right: 0;
	top: 0;
	bottom: 0;
	width: 320px;
	background-color: $footer-bg;
	padding: 30px 30px;
	color: $footer-text-color;
	&--open {
		display: block;
	}
	a {
		color: $footer-text-color;
	}
}
.mobile-nav {
	display: grid;
	gap: 20px;
	font-size: 22px;
}
.mobile-nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile__cart {
	flex-grow: 1;
	display: flex;
	gap: 20px;
	padding-right: 20px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	align-items: center;
	font-size: 22px;
	font-weight: 500;
}
.mobile-nav__item {
}
.mobile-nav__link {
}
.mobile-nav__link--dropdown {
}

.mobile-sub-nav {
	padding-top: 20px;
	padding-left: 20px;
	display: grid;
	gap: 14px;
	font-size: 16px;
}
.mobile-sub-nav__item {
}
.mobile-sub-nav__link {
}
