.products {
	background-color: #f7f7f7;
	padding: 50px 0;
}
.products__title {
	text-align: center;
	margin-bottom: 32px;
}
.products__tabs {
	text-align: center;
	margin-bottom: 80px;
}
.products__slider {
	margin-bottom: clamp(30px, 0.982rem + 4.46vw, 60px);
	@include laptop() {
		padding: 0 40px;
	}
}
.products__link {
	text-align: center;
}
